<html>
<head>
    <title></title>
    {% comment %} {% load static %}
    <link rel="stylesheet" href="{% static 'css/contact.css' %}"> {% endcomment %}
</head>

<body>

    <body>

        <div class="header">
            <h1> Filling the form</h1>
        </div>
        <form action="/contact" method="POST">
            <!-- Inorder, to protect from csrf attacks we are using csrf token-->
            {% csrf_token %}
            <!-- Name is very important in inputType rather then id. -->
            <div class="ContactName">
                <label for="Contact name">Contact name</label>
                <input type="text" name="name" id="name" placeholder="First name Last name" />
            </div>
            <div class="mobliePhoneNumb">
                <label for="Moblie phone number">Number</label>
                <input type="phone" name="phone" id="phone" maxlength="11" placeholder="Number" />
            </div>
            <div class="specialRequest">
                <label for="Special request">Specially request(optional)</label>
                <input type='text' name="description" id="description" placeholder="250 words" />
            </div>
            
            <div class="email">
                <section>
                    <h3>Manage your Booking</h3>
                </section>
                <label for="Email">Email</label>
                <input type="email" name="email" id="email" placeholder="Email" />
            </div>
            <div class="startEnd">
                <section>
                    <label for="startDate">Check In</label>
                    <input type='startDate' name="startDate" id="startDate" />
                </section>
                <section>
                    <label for="endDate">Check Out</label>
                    <input type='endDate' name="endDate" id="endDate" />
                </section>
            </div>

            <button type="submit" id="save">Complete Booking</button>
        </form>
    </body>

</html>